*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family:sans-serif;
}

body {
  margin: 0
}

a{
	color: rgb(184, 178, 178);
}


#container{
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#nav-bar #nav-top{
	height: 80px;
	padding: 29px 60px;
	display:flex;
	justify-content: space-between;
	align-items:center;

}

#rigth{
	display: flex;
	margin: 0;
	align-items: center;
}

#app{
	font-size: 24px;
	font-weight: bold;
	margin-right: 25px;
	font-family: Roboto; 
}

#search-bar input[type="text"]{
	border:1px solid rgb(74, 71, 74);
	padding: 5px 10px;
	outline: none;
	width:400%;
}

#left{
	display: flex;
	margin:40px;
	align-items: center;
}

#vector{
	margin-right:30px;
}

#log{
	width: 100;
	height: 40px;
	background:rgb(10, 10, 10);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

#log a{
	color: rgb(255, 255, 255);
}

#log a:hover{
	color: rgb(168, 157, 157);
}

#bottom-nav ul{
	width: ;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 70px;
}


#bottom-nav li a{
	color: black;
	font-size: 18px;
}


#why{
	position: relative;
}


#bar{
	position: absolute;
	width: 94px;
	height: 0px;
	left: 100px;
	top: 120px;
	background:#000000;
	border: 10px solid #000000;	

}

#Featured{
	position: absolute;
	width: 95px;
	height:0px;
	left: 100px;
	top:140px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
}



#container-1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:100px;
	justify-content: space-between;
	margin: 100px 0px 0 100px;
}


#first-col{
	display: grid;
	justify-content:space-around;
	grid-template-columns: repeat(3,256px);
	grid-template-rows: repeat(4,220px);
	grid-gap:20px;
	padding-top: 80px;
	
}

#col-1{
	display: flex; 
}


#col-2{
	display: flex;
}



#col-3{
	display: flex;
}


#col-4{
	display: flex;
}


#col-5{
	display: flex;
}


#col-6{
	display: flex;
}


#col-7{
	display: flex;
}


#col-8{
	display: flex;
}


#col-9{
	display: flex;
}


#col-10{
	display: flex;
}


#col-11{
	display: flex;
}


#col-12{
	display: flex;
}


/*---row 1 start here---*/
#row-1-1 {
 	margin: 0;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

#img{
	position: absolute;
	left: 0%;
	right: 0.39%;
	top: 0%;
	bottom: 29.73%;
}

#tips{
	position: absolute;
	left: 2.88%;
	right: 18.6%;
	top: 71.52%;
	bottom: 17.57%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

}

 #solar{
	position: absolute;
	left: 4.04%;
	right: 40.22%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 18px;
}

#digit{
	position: absolute;
	left: 69%;
	right: 1.5%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 15px;

}


#love{
	position: absolute;
	left: 84.5%;
	right: 1.94%;
	top: 80.04%;
	bottom: 3.6%;


}



#row-1-2 {
 	margin: 0;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

#img-1{
	position: absolute;
	left: 0%;
	right: 0.39%;
	top: 0%;
	bottom: 29.73%;
}

#tips-1{
	position: absolute;
	left: 2.88%;
	right: 18.6%;
	top: 71.52%;
	bottom: 17.57%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

}

 #solar-1{
	position: absolute;
	left: 4.04%;
	right: 40.22%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 18px;
}

#digit-1{
	position: absolute;
	left: 69%;
	right: 1.5%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 15px;

}


#love-1{
	position: absolute;
	left: 84.5%;
	right: 1.94%;
	top: 80.04%;
	bottom: 3.6%;


}


#row-1-3 {
 	margin: 0;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

#img-2{
	position: absolute;
	left: 0%;
	right: 0.39%;
	top: 0%;
	bottom: 29.73%;
}

#tips-2{
	position: absolute;
	left: 2.88%;
	right: 18.6%;
	top: 71.52%;
	bottom: 17.57%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

}

 #solar-2{
	position: absolute;
	left: 4.04%;
	right: 40.22%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 18px;
}

#digit-2{
	position: absolute;
	left: 69%;
	right: 1.5%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 15px;

}


#love-2{
	position: absolute;
	left: 84.5%;
	right: 1.94%;
	top: 80.04%;
	bottom: 3.6%;


}

	/*---row-1 ends here---*/

	/*---row-2 start here---*/

#row-2-1 {
 	margin: 0;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

#img-3{
	position: absolute;
	left: 0%;
	right: 0.39%;
	top: 0%;
	bottom: 29.73%;
}

#tips-3{
	position: absolute;
	left: 2.88%;
	right: 18.6%;
	top: 71.52%;
	bottom: 17.57%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

}

 #solar-3{
	position: absolute;
	left: 4.04%;
	right: 40.22%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 18px;
}

#digit-3{
	position: absolute;
	left: 69%;
	right: 1.5%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 15px;

}


#love-3{
	position: absolute;
	left: 84.5%;
	right: 1.94%;
	top: 80.04%;
	bottom: 3.6%;


}

#row-2-2 {
 	margin: 0;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

#img-4{
	position: absolute;
	left: 0%;
	right: 0.39%;
	top: 0%;
	bottom: 29.73%;
}

#tips-4{
	position: absolute;
	left: 2.88%;
	right: 18.6%;
	top: 71.52%;
	bottom: 17.57%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

}

 #solar-4{
	position: absolute;
	left: 4.04%;
	right: 40.22%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 18px;
}

#digit-4{
	position: absolute;
	left: 69%;
	right: 1.5%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 15px;

}


#love-4{
	position: absolute;
	left: 84.5%;
	right: 1.94%;
	top: 80.04%;
	bottom: 3.6%;


}


#row-2-3 {
 	margin: 0;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

#img-5{
	position: absolute;
	left: 0%;
	right: 0.39%;
	top: 0%;
	bottom: 29.73%;
}

#tips-5{
	position: absolute;
	left: 2.88%;
	right: 18.6%;
	top: 71.52%;
	bottom: 17.57%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

}

 #solar-5{
	position: absolute;
	left: 4.04%;
	right: 40.22%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 18px;
}

#digit-5{
	position: absolute;
	left: 69%;
	right: 1.5%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 15px;

}


#love-5{
	position: absolute;
	left: 84.5%;
	right: 1.94%;
	top: 80.04%;
	bottom: 3.6%;


}

		/*---row 2 ends here--*/

		/*---row-3 start here---*/


#row-3-1 {
 	margin: 0;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

#img-6{
	position: absolute;
	left: 0%;
	right: 0.39%;
	top: 0%;
	bottom: 29.73%;
}

#tips-6{
	position: absolute;
	left: 2.88%;
	right: 18.6%;
	top: 71.52%;
	bottom: 17.57%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

}

 #solar-6{
	position: absolute;
	left: 4.04%;
	right: 40.22%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 18px;
}

#digit-6{
	position: absolute;
	left: 69%;
	right: 1.5%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 15px;

}


#love-6{
	position: absolute;
	left: 84.5%;
	right: 1.94%;
	top: 80.04%;
	bottom: 3.6%;

}


#row-3-2 {
 	margin: 0;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

#img-7{
	position: absolute;
	left: 0%;
	right: 0.39%;
	top: 0%;
	bottom: 29.73%;
}

#tips-7{
	position: absolute;
	left: 2.88%;
	right: 18.6%;
	top: 71.52%;
	bottom: 17.57%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

}

 #solar-7{
	position: absolute;
	left: 4.04%;
	right: 40.22%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 18px;
}

#digit-7{
	position: absolute;
	left: 69%;
	right: 1.5%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 15px;

}


#love-7{
	position: absolute;
	left: 84.5%;
	right: 1.94%;
	top: 80.04%;
	bottom: 3.6%;


}	


#row-3-3{
 	margin: 0;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

#img-8{
	position: absolute;
	left: 0%;
	right: 0.39%;
	top: 0%;
	bottom: 29.73%;
}

#tips-8{
	position: absolute;
	left: 2.88%;
	right: 18.6%;
	top: 71.52%;
	bottom: 17.57%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

}

 #solar-8{
	position: absolute;
	left: 4.04%;
	right: 40.22%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 18px;
}

#digit-8{
	position: absolute;
	left: 69%;
	right: 1.5%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 15px;

}


#love-8{
	position: absolute;
	left: 84.5%;
	right: 1.94%;
	top: 80.04%;
	bottom: 3.6%;


}							


/*----row-3 ends here---*/

/*----row-4 start here---*/

#row-4-1 {
 	margin: 0;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

#img-9{
	position: absolute;
	left: 0%;
	right: 0.39%;
	top: 0%;
	bottom: 29.73%;
}

#tips-9{
	position: absolute;
	left: 2.88%;
	right: 18.6%;
	top: 71.52%;
	bottom: 17.57%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

}

 #solar-9{
	position: absolute;
	left: 4.04%;
	right: 40.22%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 18px;
}

#digit-9{
	position: absolute;
	left: 69%;
	right: 1.5%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 15px;

}


#love-9{
	position: absolute;
	left: 84.5%;
	right: 1.94%;
	top: 80.04%;
	bottom: 3.6%;


}				


#row-4-2 {
 	margin: 0;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

#img-10{
	position: absolute;
	left: 0%;
	right: 0.39%;
	top: 0%;
	bottom: 29.73%;
}

#tips-10{
	position: absolute;
	left: 2.88%;
	right: 18.6%;
	top: 71.52%;
	bottom: 17.57%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

}

 #solar-10{
	position: absolute;
	left: 4.04%;
	right: 40.22%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 18px;
}

#digit-10{
	position: absolute;
	left: 69%;
	right: 1.5%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 15px;

}


#love-10{
	position: absolute;
	left: 84.5%;
	right: 1.94%;
	top: 80.04%;
	bottom: 3.6%;


}



#row-4-3 {
 	margin: 0;
  	position: relative;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

#img-11{
	position: absolute;
	left: 0%;
	right: 0.39%;
	top: 0%;
	bottom: 29.73%;
}

#tips-11{
	position: absolute;
	left: 2.88%;
	right: 18.6%;
	top: 71.52%;
	bottom: 17.57%;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

}

 #solar-11{
	position: absolute;
	left: 4.04%;
	right: 40.22%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 18px;
}

#digit-11{
	position: absolute;
	left: 69%;
	right: 1.5%;
	top: 87.04%;
	bottom: 5.86%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 11px;
	line-height: 15px;

}


#love-11{
	position: absolute;
	left: 84.5%;
	right: 1.94%;
	top: 80.04%;
	bottom: 3.6%;

}	

	/*---aside start here--*/

	/*----load--*/
#load{
	position: absolute;
	top: 120%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;

	color: rgb(51, 48, 48);
}

#load a{
	color: rgb(51, 48, 48)
}

#load a:hover{
	color: rgb(138, 134, 134);
}
			

#second-col{
	position: relative;
	top:100px;
	z-index:-1;
	height: 970px;
	width: 348px;
	background: rgb(247, 247, 247);
}

#pic-aside{
	position: absolute;
	top: -66px;
}

#line-1{
	position: absolute;
	width: 310px;
	left: 12px;
	top: 145px;
	background: rgb(101, 101, 102);
	border: 1px solid rgb(101, 101, 102);

}

#lee-1{
	position: absolute;
	left: 2%;
	right: 79.77%;
	top: 50px;
	bottom: 27.7%;
	border-radius: 50%;
	box-sizing: border-box;
	

}	

#amaz-1{

	position: absolute;
	left: 27.39%;
	right: 2.61%;
	top: 68px;
	bottom: 37.61%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;

	color: #000000;
}


#ade-1{
	position: absolute;
	right: 37.45%;
	top: 125px;
	bottom: 80%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 10px;
	line-height: 16px;
}

#min-1{
	position: absolute;
	left: 75%;
	right: 1.5%;
	top:125px;
	bottom: 80%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 10px;
	line-height: 16px;
}




/*---aside-2 start here--*/


#line-2{
	position: absolute;
	width: 310px;
	left: 12px;
	top: 250px;

	background: rgb(101, 101, 102);
	border: 1px solid rgb(101, 101, 102);
	
}

#lee-2{
	position: absolute;
	left: 3%;
	right: 77.77%;
	top: 155px;
	bottom: 29.7%;
	border-radius: 50%;

}	

#amaz-2{

	position: absolute;
	left: 27.39%;
	right: 2.61%;
	top: 170px ;
	bottom: 38.61%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height:21px;

	color: #000000;
}


#ade-2{
	position: absolute;
	right: 37.45%;
	top: 230px;
	bottom: 80%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 10px;
	line-height: 16px;

}

#min-2{
	position: absolute;
	left: 75%;
	right: 2%;
	top: 230px;
	bottom: 0%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 12px;
	line-height: 16px;	
}


#line-3{
	position: absolute;
	width: 310px;
	height: 0px;
	left: 12px;
	top: 357px;
	background: rgb(101, 101, 102);
	border: 1px solid rgb(101, 101, 102);
}

#lee-3{
	position: absolute;
	left: 2%;
	right: 77.77%;
	top:260px;
	bottom: 29.7%;
	border-radius: 50%;

}	

#amaz-3{

	position: absolute;
	left: 27.39%;
	right: 2.61%;
	top:275px;
	bottom: 38.61%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;

	color: #000000;
}


#ade-3{
	position: absolute;
	right: 37.45%;
	top: 335px;
	bottom: 80%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 10px;
	line-height: 16px;

}

#min-3{
	position: absolute;
	left: 75%;
	right: 2%;
	top: 335px;
	bottom: 0%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 12px;
	line-height: 16px;	
}

#line-4{
	position: absolute;
	width: 310px;
	height: 0px;
	left: 12px;
	top: 465px;
	background: rgb(101, 101, 102);
	border: 1px solid rgb(101, 101, 102);
}

#lee-4{
	position: absolute;
	left: 2%;
	right: 80.77%;
	top: 366px;
	bottom: 29.7%;
	border-radius: 50%;

}	

#amaz-4{

	position: absolute;
	left: 27.39%;
	right: 2.61%;
	top: 380px;
	bottom: 38.61%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;

	color: #000000;
}


#ade-4{
	position: absolute;
	right: 37.45%;
	top: 443px;
	bottom: 80%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 10px;
	line-height: 16px;

}

#min-4{
	position: absolute;
	left: 75%;
	right: 2%;
	top: 443px;
	bottom: 0%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 12px;
	line-height: 16px;	
}



#line-5{
	position: absolute;
	width: 310px;
	height: 0px;
	left: 12px;
	top: 569.5px;

	background: rgb(101, 101, 102);
	border: 1px solid rgb(101, 101, 102);
}


#lee-5{
	position: absolute;
	left: 3%;
	right: 80.77%;
	top: 473px;
	bottom: 29.7%;
	border-radius: 50%;

}	

#amaz-5{

	position: absolute;
	left: 27.39%;
	right: 2.61%;
	top: 490px;
	bottom: 38.61%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;

	color: #000000;
}


#ade-5{
	position: absolute;
	
	right: 37.45%;
	top: 550px;
	bottom: 80%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 10px;
	line-height: 16px;

}

#min-5{
	position: absolute;
	left: 75%;
	right: 2%;
	top: 550px;
	bottom: 80%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 10px;
	line-height: 16px;	
}

#line-6{
	position: absolute;
	width: 310px;
	height: 0px;
	left: 12px;
	top: 675px;

	background: rgb(101, 101, 102);
	border: 1px solid rgb(101, 101, 102);
}

#lee-6{
	position: absolute;
	left: 3%;
	right: 80.77%;
	top: 577px;
	bottom: 29.7%;
	border-radius: 50%;

}	

#amaz-6{

	position: absolute;
	left: 27.39%;
	right: 2.61%;
	top: 593px;
	bottom: 38.61%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;

	color: #000000;
}


#ade-6{
	position: absolute;
	right: 37.45%;
	top: 655px;
	bottom: 0%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 10px;
	line-height: 16px;

}

#min-6{
	position: absolute;
	left: 76%;
	right: 2%;
	top: 655px;
	bottom: 0%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 10px;
	line-height: 16px;	
}


#line-7{
	position: absolute;
	width: 310px;
	height: 0px;
	left: 12px;
	top: 782px;

	background: rgb(101, 101, 102);
	border: 1px solid rgb(101, 101, 102);
}

#lee-7{
	position: absolute;
	left: 3%;
	right: 80.77%;
	top: 682px;
	bottom: 29.7%;
	border-radius: 50%;

}	

#amaz-7{

	position: absolute;
	left: 27.39%;
	right: 2.61%;
	top: 698px;
	bottom: 38.61%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;

	color: #000000;
}


#ade-7{
	position: absolute;
	
	right: 37.45%;
	top: 760px;
	bottom: 0%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 10px;
	line-height: 16px;

}

#min-7{
	position: absolute;
	left: 76.5%;
	right: 2%;
	top: 760px;
	bottom: 0%;

	font-family: Roboto;
	font-style: italic;
	font-weight: 200;
	font-size: 10px;
	line-height: 16px;	
}


		/*----footer-----*/
#about{
	position: absolute;
	top:850px;
	left:7.5%;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}

#support{
	position: absolute;
	top:850px;
	left: 31%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}

span{
	text-transform: uppercase;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}


#copy{
	position: absolute;
	top: 880px;
	left: 7.5%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: rgb(184, 178, 178)
}		